
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <h1>
            This is the Student area of the web site.  <h3>We can list, add, edit, and delete Student information here.</h3>
        </h1>
        <img src="https://s-media-cache-ak0.pinimg.com/originals/ba/e8/b3/bae8b3987bda6e470885425faf3437ec.jpg"/>
    </div>
</div>

