<h3>Student Information</h3>
<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Student Home", "Index", "Student")</li>
    <li>@Html.ActionLink("Student List", "List", "Student")</li>
</ul>
