
@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Welcome to the best Student Information System!</h1>
        <p>This system allows us to keep track of current student information, including major declarations and courses.</p>
        <p>Click some of the links to jump through our website in beta!</p>
        <p class="text-danger">This system is currently in beta.</p>
    </div>
</div>


